body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

article {
    margin-bottom: 1rem;
}

header {
    text-align: center;
}

.main-title {
    text-align: center;
    color: #d35400;
}

.superArt {
    color: antiquewhite;
}

p {
    text-align: center;
}

.food-article {
    background: transparent; 
    margin-bottom: 20px;
    padding: 20px;
}

.food-title {
    color: #d35400;
}

.food-description {
    color: #555;
}

.food-image {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

img {
    width: 50%;
    height: auto; /* Zmiana wysokości na auto dla lepszego dopasowania */
    object-fit: cover;
}


