body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
article{
    margin-bottom: 1rem;
}
.superArt{
    color: antiquewhite;
}
p{
    text-align: center;
}
header{
    text-align: center;
}
img {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }
